{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Add Income Page {% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-8 mb-4 offset-md-2">
            <div class="card">
                <div class="card-body" style="box-shadow: 0 3px 7px grey;">
                    <form action="{% url 'add_income' %}" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{% url 'income' %}" class="btn btn-secondary btn-block"> Cancel</a>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block" >Add Income</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{%endblock%}